
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

@page 
{
   size: 1920px 1080px;
   margin: 0;
}

@media print 
{
   .remark-slide-scaler {
      width: 100% !important;
      height: 100% !important;
      transform: scale(1) !important;
      top: 0 !important;
      left: 0 !important;
   }
}

.remark-code, .remark-inline-code 
{ 
   font-size: 0.9em;
   font-family: 'Ubuntu Mono'; 
}

.remark-slide-scaler { box-shadow: none; /* remove slide frame */ }

.remark-container { background-color: white; }

body 
{
   font-family: 'Open Sans';
}

h1, h2, h3, h4, h5
{
   font-family: 'Yanone Kaffeesatz';
   font-weight: normal;
   margin-top: 0.2em;
}

/* slide header */
h4
{
   color: #A4A4A4;
   font-size: 1.5em;
   margin-bottom: 0.5em;
}

/* definition */
h5
{
   color: #A4A4A4;
   font-size: 1.25em;
   margin-top: 1.5em;
   margin-bottom: 1.0em;   
}

li { margin: 0.75em 0; }

/*
background-color: #008fb3;
background-color: #e6faff;
color: #003d4d;
*/

.slide_title
{
   text-align: center;
   vertical-align: middle;
   background-color: #008fb3;
   color: white;
}

.slide_section
{
   text-align: center;
   vertical-align: middle;
   background-color: #e6faff;
   color: #003d4d;
}

.animation_bs
{
   margin-top: -8em;
}

.animation_dpor
{
}

.h_example
{
   font-family: 'Yanone Kaffeesatz';
   font-size: 1.25em;
}

.h_link
{
   display: inline-block;
   width: 8em;
   font-family: 'Yanone Kaffeesatz';
   font-size: 1.25em;
   color: #A4A4A4;
}

.br_link
{
    margin-top: -1em;
}

.code_left
{
   margin-top: -2em;
   display: inline-block; 
}

.code_right
{
   margin-top: -2em;
   display: inline-block; 
   vertical-align: top;
}
